name: Terraform CI/CD pipeline for deploying AWS resources
run-name: ${{ github.actor }} has triggered the pipeline

on:
  push:
    branches:
      - "main"

env:
  AWS_ACCESS_KEY_ID: test
  AWS_SECRET_ACCESS_KEY: test
  AWS_DEFAULT_REGION: us-east-1

jobs:
  terraform-cicd:
    runs-on: ubuntu-latest

    services:
      localstack:
        image: localstack/localstack-light:latest
        ports:
          - 4566:4566
        env:
          SERVICES: ec2,iam,s3,sts,elbv2
          DEBUG: 1
        options: >-
          --health-cmd="curl -f http://localhost:4566/health || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=30

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ./terraform-vpc
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform-vpc
        run: terraform validate

      - name: Terraform Plan
        working-directory: ./terraform-vpc
        run: terraform plan

      - name: Terraform Apply
        working-directory: ./terraform-vpc
        run: terraform apply -auto-approve
