name: Terraform CI/CD pipeline for deploying AWS resources
run-name: ${{github.actor}} has triggered the pipeline

on: 
  push:
    branches:
      - 'main'

env:
  AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}

jobs:
  build-infra:
    name: terraform-cicd
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Up Terraform
        uses: hashicorp/setup-terraform@v2
      - name: Terrafrom Init
        id: init 
        run: terraform init
        working-directory: ./terraform-vpc
      - name: Terrafrom Validate
        id: validate 
        run: terraform validate
        working-directory: ./terraform-vpc
      - name: Terrafrom Plan
        id: plan 
        run: terraform plan
        working-directory: ./terraform-vpc
      - name: Terrafrom Apply
        id: apply 
        run: terraform apply --auto-approve
        working-directory: ./terraform-vpc